body { margin: 0; font-family: Verdana, sans-serif; color: rgb(255, 255, 255); }

header { width: 100%; height: 30px; background: black; margin-top: 0px; }
    .social { margin-left: 20px; padding-top: 2px; }
    .social a { margin: 7px; color: white; font-size: 1rem; }
    .social a:hover { color: #7E8A17; }
 
section.banner { width: 100%; height: 550px; background: url(/img/banner_1.jpg); padding: 5px 0; background-size: 100% 100%; }
    #logo { display: flex; justify-content: center; align-items: center; margin-top: 5px; margin-bottom: 10px;}
    nav { text-align: center; }
    nav li { display: inline; margin-right: 30px; font-weight: bold; font-size: 24px; }
    nav li a { color: white; text-decoration: none; }
    nav li a:hover { color: #7E8A17; text-decoration: underline; }

section.map { width: 100%; height: 450px; background: rgb(255, 255, 255); }
    #gmap { display: flex; justify-content: center; margin-top: 50px; }

section.location { width: 100%; height: 550px; background: rgb(202, 202, 202); }

section.about { width: 1200px; height: 520px; background: rgb(85, 85, 85); margin: 0 auto 0; padding: 5px 0; }

section.subscribe { width: 100%; height: 200px; background:rgb(202, 202, 202);  }

footer { width: 100%; height: 30px; background: whitesmoke;  }